---
import BaseLayout from "../layouts/BaseLayout.astro";
import SpecialVideo from "../components/SpecialVideo.astro";

const pageTitle = "Special Live Shows"
---
<BaseLayout pageTitle={pageTitle}>
    <div class="sm:ml-64 p-2 lg:p-6  bg-gradient-to-b from-zinc-800 to-zinc-900">
        <section id="specials-intro">
            <h2 class="text-3xl font-bold mb-3 bg-gradient-to-r from-yellow-500 via-red-500 to-orange-600 inline-block text-transparent bg-clip-text">
                Special Live Shows
            </h2>

            <p class="mb-5 md:w-2/3">These are some of the special live shows I performed on my YouTube channel in the last couple of years. You can find the rest of them on my channel under the Live tab section.</p>

            <p class="mb-5 md:w-2/3">I just selected the ones I like the most and that I think will be of your interest. I mean, if you're here reading these lines, it has to be for something, right?</p>

            <p class="mb-5 md:w-2/3">So, get ready to relax (or work, study, clean your house...well, you catch my drift) and press the play buttons. You're in for a treat 😉</p>
        </section>

        <hr class="mb-6">

        <section id="specials-videos">
            <SpecialVideo
                specialURL="https://www.youtube.com/embed/Fv84C11skS4?si=YHNMtVOicZ7TmKnD"
                specialTitle="RJ8's Spooky Show"
                specialDescription="My Halloween special for 2023. If you're into the 80's music in general, then you're gonna love it. It was a great chance for me to play non-Depeche Mode songs (tho I ended up playing a few DM songs at public request). A little bit of New Order here, some Erasure there, oh! , and even some Nine Inch Nails."
            />

            <SpecialVideo
                specialURL="https://www.youtube.com/embed/gSEIUeKxlDs?si=EeWmpusmrbQOSZfW"
                specialTitle="Exotic Tour Instrumental - Second Show"
                specialDescription="As the title says, this is the second performance of my homage to Depeche Mode's Exotic Tour. I like the setlist for this one a little bit better than the first live special. More than 2 hours of pure devotion. Do you have your candles at hand?"
            />
        </section>
    </div>
</BaseLayout>