---
import BaseLayout from '../layouts/BaseLayout.astro';
import Carousel from '../components/Carousel.astro';
import AlbumCover from '../components/AlbumCover.astro';
import ProjectSection from '../components/ProjectSection.astro';
import ProjectMember from '../components/ProjectMember.astro';
import AudioPlayer from '../components/AudioPlayer.astro'
import Social from '../components/Social.astro';
import Arrow from '../components/Arrow.astro';

const pageTitle = "World Violation Tour";

const carouselItems = [
    "https://res.cloudinary.com/daokfcdfm/image/upload/v1699465206/rj8_landing/WVTAFT/Carousel_1_bch5ft.png",
    "https://res.cloudinary.com/daokfcdfm/image/upload/v1699465206/rj8_landing/WVTAFT/Carousel_2_damx5e.png",
    "https://res.cloudinary.com/daokfcdfm/image/upload/v1699465206/rj8_landing/WVTAFT/Carousel_3_ffrbgb.png",
    "https://res.cloudinary.com/daokfcdfm/image/upload/v1699465206/rj8_landing/WVTAFT/Carousel_4_qubgif.png"
]   

const carouselIndicators = ["0", "1", "2", "3"];
---

<BaseLayout pageTitle={pageTitle}>
    <div class="sm:ml-64 p-3 md:p-0 bg-gradient-to-b from-neutral-700 to-neutral-800">
        <Carousel 
            carouselItems={carouselItems}
            carouselIndicators={carouselIndicators}
        />

        <section id="wvtaft_intro" class="p-2 lg:p-6">
            <AlbumCover
                albumCover="https://res.cloudinary.com/daokfcdfm/image/upload/v1699468507/rj8_landing/WVTAFT/WVT_Album_Cover_b0tkv9.png"
                albumTitle="World Violation Tour - A fans tribute"
                albumDescription="First entry of the 'A fans tribute' series"
                releaseDate="Release date: August 11th, 2023"
                gumroadLink="https://rj8covers.gumroad.com/l/wvtaft"
            
            />

            <article>
                <h2 class="text-2xl font-bold mb-3">
                    Project description
                </h2>
                <div class="lg:w-2/3">
                    <p class="mb-3">The "World Violation Tour - A fans tribute" brings you an exceptional lineup of passionate musicians, ready to deliver an extraordinary tribute to the band that has inspired generations: Depeche Mode.</p>
                    <p class="mb-3">Since we don't have a proper official release of this iconic tour, an enthusiast group of fans got together to recreate the whole concert in high quality audio, with concert crowd effects and even vocals in every song!</p>
                
                    <p class="mb-3">Immerse yourself in the pulsating rhythms, the soul-stirring lyrics, and the infectious energy that define Depeche Mode's unparalleled legacy.</p>

                    <p class="mb-3">Get ready for an amazing experience. Made by fans, for the fans. 🌹🎤🎸🎹</p>
                </div>
            </article>

            <hr class="mt-5 mb-5">

            <article>
                <h2 class="text-2xl font-bold mb-3">
                    Background
                </h2>
                <div class="lg:w-2/3">
                    <p class="mb-3">As a dedicated Depeche Mode fan (having spent half my life listening to their music), I have often pondered why the tour that supported what many consider to be the band's best album, <em>Violator</em>, still lacks an official recording or DVD release. Why on Earth is that? This question remains unanswered and as time goes by there is no indication that an official release of the World Violation Tour will ever materialize.</p>

                    <p class="mb-3">With that nagging question haunting me through the years, I realized that fans deserved something better than the soundboard recordings currently available. With my skills and connections, I decided to take a chance and bring my idea to life. I shared my plan with some friends and in August 2021, I began working on the project. After seven months of hard work, the <strong>World Violation Tour Remastered</strong> was born and released on March 20th, 2022.</p>
                
                    <p class="mb-3">During a live broadcast on YouTube, I shared the project with my community and the response was overwhelming. Despite some negative critics, which are to be expected, many fans were captivated and amazed by it. Some even believed that they were listening to a real Depeche Mode performance from some concert recording.</p>

                    <p class="mb-3">After those events and after releasing the <a href="/bctaft/" class="underline underline-offset-8" target="_blank">Black Celebration Tour - A fans tribute</a> project, I decided I could do better. I gathered my crew once again for advice and some help. We got to work together (a new member was added to the team) and voila! The magic happened again.</p>

                    <p class="mb-3">With a better mix and even new sounds, we achieved our goal. Our biggest project ever released got a new life under a new name: <em>World Violation Tour - A fans tribute</em>.</p>

                    <p class="mb-3">I want to thank all of the fans who supported this project from the beginning or gave it a chance. Your support made this project possible. If you're intrigued by it, consider <a href="https://rj8covers.gumroad.com/l/wvtaft" class="underline underline-offset-8" target="_blank">getting a copy</a> to support the creators.</p>

                    <p>This is the <span class="font-bold">WORLD VIOLATION TOUR - A FANS TRIBUTE</span>. Get ready to have an amazing experience, made by fans, for the fans.</p>
                </div>
            </article>
        </section>

        
        <!-- The team -->
        <ProjectSection sectionID="wvtaft_team" sectionTitle="The team">
            <div class="lg:w-2/3 mb-5" slot="sectionDescription">
                <p class="mb-3">You've read <em>'A fans tribute'</em> more than once by now. So, it's time to know the people that made this possible! If you like this project, consider supporting the fans behind it by subscribing to their YouTube channels.</p>
            </div>

            <div class="lg:w-2/3" slot="sectionContent">
                <!-- Claudio -->
                <ProjectMember
                    memberID="claudio"
                    memberPhoto="https://res.cloudinary.com/daokfcdfm/image/upload/v1699465230/rj8_landing/WVTAFT/Claudio_oj08hq.png"
                    memberName="Claudio Blanco"
                    memberRole="Vocals (Dave Gahan / Martin Gore) | Crowd Effects"
                    memberDescription="<p class=' mb-3' >The <em>World Violation Tour - A fans tribute</em> captured the hearts of many fans. However, some may have wondered whether we had extracted the vocals from the soundboards available on the internet. But why settle for second best when we could do it the old-fashioned way? Instead, we opted to take a more authentic approach, enlisting the talents of an exceptional singer to record the vocals for the project.</p> <p class=' mb-3'>Enter Claudio Blanco, one of the most gifted vocalists I have had the privilege of knowing. With remarkable skill and precision, he masterfully recreated the performances of Dave Gahan and Martin Gore, breathing new life into their legendary stage performances. Furthermore, Claudio's contribution extended beyond just the vocal tracks, as he also played a crucial role in emulating the sound of the crowd singing in some of the songs, lending an added layer of authenticity to the project.</p>"
                >
                
                    <Social platform="youtube" username="@perihelion54" iconClasses="fa-brands fa-youtube me-2 text-3xl mb-2 text-red-600 " slot="youtube-channel" />
                </ProjectMember>
                
                <!-- Rai -->
                <ProjectMember
                    memberPhoto="https://res.cloudinary.com/daokfcdfm/image/upload/v1699465230/rj8_landing/WVTAFT/Rai_uwpuqe.png"
                    memberName="Raimundo Ladrón de Guevara"
                    memberRole="Guitar (Enjoy The Silence / Personal Jesus)"
                    memberDescription="<p class='mb-3' >Raimundo, a dear and talented friend of mine, possesses an awe-inspiring gift for graphic design and music.</p> <p class='mb-3'>His musical prowess was on full display as he recorded the guitar tracks for the iconic songs <em>Enjoy The Silence</em> and <em>Personal Jesus</em>. He also provided invaluable insights for the production of the backing tracks, elevating the project to new heights of sonic excellence.</p>"
                >
                
                    <Social platform="youtube" username="@RaimundoLadrondeGuevara" iconClasses="fa-brands fa-youtube me-2 text-3xl mb-2 text-red-600 " slot="youtube-channel" />
                </ProjectMember>

                <!-- Teddy -->
                <ProjectMember
                    memberPhoto="https://res.cloudinary.com/daokfcdfm/image/upload/v1699465231/rj8_landing/WVTAFT/Teddy_nb6dl5.png"
                    memberName="Teddy Ferguson"
                    memberRole="Guitar (I Want You Now / Here Is The House / World Full Of Nothing / Sweetest Perfection / Behind The Wheel / Route 66)"
                    memberDescription="<p class='mb-3' >This talented musician and singer from Arkansas started posting comments on my YouTube channel. Later he started asking for my covers, so he could make renditions of his favorite DM songs for his YouTube channel.</p> <p class='mb-3'>And now he's not only a good friend of mine, but also a crucial part of this project. Teddy displayed his musical talent by recording the acoustic songs of the concert and Behind The Wheel / Route 66 guitar tracks.</p>"
                >
                
                    <Social platform="youtube" username="@TedGahan01" iconClasses="fa-brands fa-youtube me-2 text-3xl mb-2 text-red-600 " slot="youtube-channel" />
                </ProjectMember>

                <!-- Elias -->
                <ProjectMember
                    memberPhoto="https://res.cloudinary.com/daokfcdfm/image/upload/v1699465230/rj8_landing/WVTAFT/RJ8_wrqyao.png"
                    memberName="Elias Velazquez"
                    memberRole="Synths | Programming | Backing tracks | Crowd effects | Visuals"
                    memberDescription="<p class='mb-3' >It's my turn now. I go by Elias (or Kani for some close friends), but you might recognize me as RJ8. The journey of working on this project has brought me immense joy. I dedicated myself tirelessly each day to reach this point, and I owe a great deal of gratitude to my companions Claudio, Raimundo, and Teddy. Their help and insight was indispensable in making this project a reality.</p> <p class='mb-3'>My role revolved around crafting the backing tracks and the files that contained every soundbank that allowed me to play the songs on every live broadcast of the project on my YouTube channel. Additionally, I played a crucial role in replicating the crowd effects, capturing the authentic reactions akin to those of an actual concert audience.</p>"
                >
                
                    <Social platform="youtube" username="@rj8mp" iconClasses="fa-brands fa-youtube me-2 text-3xl mb-2 text-red-600 " slot="youtube-channel" />
                </ProjectMember>
            </div>
        </ProjectSection>

        <!-- Excerpts -->
        <ProjectSection sectionID="wvtwaft-audio" sectionTitle="Excerpts">
            <div class="lg:w-2/3 mb-5" slot="sectionDescription">
                <p class="mb-3">You can listen to excerpts of every song that is included in the digital release of the project by clicking the "play" buttons.</p>
            </div>

            <div slot="sectionContent">
                <AudioPlayer
                    songTitle="00 - Kaleid"
                    audioURL="https://drive.google.com/file/d/1Py_G0xU0P0Pyo6T4UNqJOKi1zVHlwnx4"
                />
                <AudioPlayer
                    songTitle="01 - World In My Eyes"
                    audioURL="https://drive.google.com/file/d/1OdhMisk7YLtQbLiWqGAMfBdKLu1uXU4p"
                />
                <AudioPlayer
                    songTitle="02 - Halo"
                    audioURL="https://drive.google.com/file/d/1Zn10W_k8IxAY9pekFHQ1iYvyZsynrJiJ"
                />
                <AudioPlayer
                    songTitle="03 - Shake The Disease"
                    audioURL="https://drive.google.com/file/d/1hdvOtIwUCGUBWAjMgR6M08YvOTbjwNUS"
                />
                <AudioPlayer
                    songTitle="04 - Everything Counts"
                    audioURL="https://drive.google.com/file/d/1NrcvYgUJ6TSLyNJp3HBDAo5cCLcVgZXM"
                />
                <AudioPlayer
                    songTitle="05 - Master And Servant"
                    audioURL="https://drive.google.com/file/d/1rvg8V7W-zVYraazKDh4C6gun6c353S83"
                />
                <AudioPlayer
                    songTitle="06 - Never Let Me Down Again"
                    audioURL="https://drive.google.com/file/d/1u7KAXAK-SsiClEz0UU_lQlCJfRNTPbM2"
                />
                <AudioPlayer
                    songTitle="07 - Waiting For The Night"
                    audioURL="https://drive.google.com/file/d/1w1KJUfgd0gSnycfjEjF2M9oo5-jAt_rB"
                />
                <AudioPlayer
                    songTitle="08 - I Want You Now"
                    audioURL="https://drive.google.com/file/d/18BgREKoH1H_8T2F1J7s2bYX0iyVqQWbI"
                />
                <AudioPlayer
                    songTitle="09 - World Full Of Nothing"
                    audioURL="https://drive.google.com/file/d/1_2xnR6CMCIKv0ZxUKyzn-oxj7Swu7PtU"
                />
                <AudioPlayer
                    songTitle="10 - Clean"
                    audioURL="https://drive.google.com/file/d/1vHDZ7GNf5MDeJObd6sqTQ1vOBg2MtA-B"
                />
                <AudioPlayer
                    songTitle="11 - Stripped"
                    audioURL="https://drive.google.com/file/d/1ZIpoRrhJdbVdmSdV0Ra2d4vA1zFJ35qh"
                />
                <AudioPlayer
                    songTitle="12 - Policy Of Truth"
                    audioURL="https://drive.google.com/file/d/12Zu6aqASm5BJHGWXoLBq31f3bzVaWcqw"
                />
                <AudioPlayer
                    songTitle="13 - Enjoy The Silence"
                    audioURL="https://drive.google.com/file/d/1A0e53DJgTstueNSXJUryFylmDewiW2fd"
                />
                <AudioPlayer
                    songTitle="14 - Strangelove"
                    audioURL="https://drive.google.com/file/d/1o0CyyFjYezKki4E4PT4PUF3ANbqtkltn"
                />
                <AudioPlayer
                    songTitle="15 - Personal Jesus"
                    audioURL="https://drive.google.com/file/d/1rn4W7qmKm-vnCA8Bqdfr-R8mwyU6WVWp"
                />
                <AudioPlayer
                    songTitle="16 - Black Celebration"
                    audioURL="https://drive.google.com/file/d/1yhfIB-G3cs_lhiFgCvogpBV37ZY7UNpb"
                />
                <AudioPlayer
                    songTitle="17 - A Question Of Time"
                    audioURL="https://drive.google.com/file/d/1jasACOgOfz2j-toNgOsLm1ssAPnO1r5C"
                />
                <AudioPlayer
                    songTitle="18 - Behind The Wheel"
                    audioURL="https://drive.google.com/file/d/1vN92uyEX42sBjVn1WxPVjpXHG-ialS4R"
                />
                <AudioPlayer
                    songTitle="19 - Route 66"
                    audioURL="https://drive.google.com/file/d/1jrV22Aozxz3LXRin_no_0hacvJgPO91P"
                />
            </div>
        </ProjectSection>

        <!-- Videos -->
        <ProjectSection id="wvtaft-videos" sectionTitle="Videos">
            <div class="lg:w-2/3 mb-5" slot="sectionDescription">
                <p class="mb-3">Some of the videos related to this project that were posted on my YouTube channel. Stay tuned as I'll post more in the future!</p>
            </div>

            <div slot="sectionContent">
                <div class="grid lg:grid-cols-12 gap-4 mx-auto">
                    <div class="col-span-3">
                        <iframe class="mx-auto rounded-md w-full aspect-video" src="https://www.youtube.com/embed/9TFfZyh7_xw?si=k00x04gU5GUxHNea" frameborder="0"></iframe>
                        <h3 class="font-thin mb-3">
                            Digital release announcement
                        </h3>
                    </div>
    
                    <div class="col-span-3">
                        <iframe class="mx-auto rounded-md w-full aspect-video" src="https://www.youtube.com/embed/8q-Sc63Khko?si=74RPidZdq9O2b05H" frameborder="0"></iframe>
                        <p class="font-thin mb-3">
                            Instrumental live version
                        </p>
                    </div>

                    <div class="col-span-3">
                        <iframe class="mx-auto rounded-md w-full aspect-video" src="https://www.youtube.com/embed/Zqri5LWmYNI?si=0s-vse-Ro3yV3cjT" frameborder="0"></iframe>
                        <p class="font-thin mb-3">
                            Backing tracks
                        </p>
                    </div>
                </div>
            </div>
        </ProjectSection>

        <!-- FAQ -->
        <ProjectSection id="wvtaft-faq" sectionTitle="FAQ">
            <div class="lg:w-2/3" slot="sectionContent">
                <h3 class="text-lg mb-3 font-light">¿What's the World Violation Tour project exactly?</h3>
                <p class="mb-10">The "World Violation Tour - A fans tribute" is a fan project that recreates the iconic World Violation shows performed by Depeche Mode that took place at the Dodgers Stadium, Los Angeles, on August 4th and 5th, 1990. The goal is that you feel you're listening to an official and high quality live recording of that night.</p>
                <h3 class="text-lg mb-3 font-light">So, it's not Depeche Mode then.</h3>
                <p class="mb-10">No, you're not listening to any audience or soundboard recording. Everything was recreated from scratch. Original samples were used to recreate most of the synth lines, melodies and backing tracks.</p>
                
                <h3 class="text-lg mb-3 font-light">¿Were the vocals extracted/isolated from a sounboard?</h3>
                <p class="mb-10">Believe it or not, the vocals you hear on every recording related to this project were recorded by Claudio Blanco, aka @perihelion54 on YouTube. No, it's not Dave.</p>
                <h3 class="text-lg mb-3 font-light">¿How's this different from the WVT Remastered project you released on 2021?</h3>
                <p class="mb-3">The World Violation Tour Remastered was the original name of this project. Since it often led to confusion, I decided to rename the whole thing.</p>
                <p class="mb-10">But that's not the only difference. The overall sound of the project was improved, dramatically in some songs. Everything sounds sharper, louder and more dynamic than ever!</p>
                <h3 class="text-lg mb-3 font-light">¿Do I have to buy the digital release again if I bought the first version?</h3>
                <p class="mb-3">Short answer: no. For those who supported the original project by getting a copy of the digital release, you'll get the new version for free! Just send me a receipt of your Gumroad purchase to my email. That way I know you bought the WVT Remastered release and I'll happily send the new one for free!</p>
                
                <p class="mb-3">Please have in mind that this doesn't apply if you just downloaded the first version when it had no cost.</p>
            </div>
        </ProjectSection>

        <Arrow />
    </div>
</BaseLayout>