---
import Social from '../components/Social.astro';
---

<footer class="bg-neutral-800">
    <p>Site developed by <a href="https://www.evelazquez.dev/" target="_blank">Elias Velazquez</a></p>

    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
</footer>