---
import Social from '../components/Social.astro';
---

<footer class=" bg-stone-950 text-center flex flex-col justify-between">

    <div class="mt-2 mb-2 md:mb-0">
        <i class="fas fa-copyright text-xs me-1"></i>
        <span>RJ8 2023</span>
    </div>

    <div class="mb-2 md:mb-0">
        <Social platform="youtube" username="@rj8mp" iconClasses="fa-brands fa-youtube me-2 text-lg" />
        <Social platform="instagram" username="rj8covers" iconClasses="fa-brands fa-instagram me-2 text-lg" />
        <Social platform="facebook" username="RJ8Covers" iconClasses="fa-brands fa-facebook me-2 text-lg" />
    </div>

    <p class="mb-2 ">Web designed by <a href="https://www.evelazquez.dev/" target="_blank">Elias Velazquez</a></p>
</footer>