---
---
<nav class="flex flex-col text-center">
    <a class="mb-3" href="/index/">Home</a>
    <a class="mb-3" href="/bctaft/">Black Celebration Tour</a>
    <a class="mb-3" href="/wvtaft/">World Violation Tour</a>
    <a class="mb-3" href="/specials/">Special Live Shows</a>
</nav>