---
---
<nav class="nav-links text-center">
    <a class="block mb-3" href="/index/">Home</a>
    <a class="block mb-3" href="/bctaft/">Black Celebration Tour</a>
    <a class="block mb-3" href="/wvtaft/">World Violation Tour</a>
    <a class="block mb-3" href="/specials/">Special Live Shows</a>
</nav>