---
---
<nav class="nav-links text-center">
    <a class="block mb-5 group transition duration-300" href="/">
        Home
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gradient-to-r from-yellow-500 via-red-500 to-orange-600"></span>
    </a>

    <a class="block mb-5 group transition duration-300" href="/bctaft/">
        Black Celebration Tour
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gradient-to-r from-yellow-500 via-red-500 to-orange-600"></span>
    </a>

    <a class="block mb-5 group transition duration-300" href="/wvtaft/">
        World Violation Tour
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gradient-to-r from-yellow-500 via-red-500 to-orange-600"></span>
    </a>

    <a class="block mb-5 group transition duration-300" href="/specials/">
        Special Live Shows
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gradient-to-r from-yellow-500 via-red-500 to-orange-600"></span>
    </a>
</nav>