<div class="grid md:grid-cols-12 gap-2">
    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399600/rj8_landing/What_I_m_up_to_bz5o9r.jpg" alt="Image">

          <div class="p-4 h-72 bg-yellow-600/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">What I'm up to</h2>
            <p class="mb-3">The holidays are on the horizon, so I think I'll take a rest from the channel after the Singles 86-98 show. I'm not the kind of guy that stays still for too long, so I'm sure I'll be back soon ;)</p>
            <p class="mb-3">I'll retake the production of the new entry in the "A fans tribute" series next year.</p>
            <p class="mb-3">Oh, and just like you guys requested on the last show, I'll stream a tutorial video next year as well. We'll build Depeche Mode's Photographic from scratch, so stay tuned!</p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399598/rj8_landing/Donations_b4y6lr.jpg" alt="Image">

          <div class="p-4 h-72 bg-red-800/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">Donations</h2>
            <p class="mb-3">If you enjoy what I do, please consider supporting my content with a donation via PayPal. Any amount will be very much appreciated!</p>
            <p class="mb-3">You can send your donation with this <a href="https://www.paypal.me/kanirj8" target="_blank" class="hover:text-red-400 underline underline-offset-4">link</a></p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center  h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg  overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399599/rj8_landing/Calendar_eaogkp.jpg" alt="Image">

          <div class="p-4 h-72 bg-orange-600/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">Calendar</h2>
            <p class="mb-3">The party continues on December 17th, as we dive into Depeche Mode's Singles collection once again. This time, we'll go from 1986 to 1998. A great chance to relive their amazing hits and sing and dance from home!​</p>
            <p class="mb-3">Reminder available on my YouTube channel. <a class="underline underline-offset-4 hover:text-orange-300" href="https://www.youtube.com/live/O0h24lG6EWE?si=L6Kv1WKYDBkmtALk">Go set it now</a> and join the last retro party of the year! 💃​🕺</p>
          </div>
        </div>
    </div>
</div>