<div class="grid md:grid-cols-12 gap-2">
    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399600/rj8_landing/What_I_m_up_to_bz5o9r.jpg" alt="Image">

          <div class="p-4 h-72 bg-yellow-600/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">What I'm up to</h2>
             <p class="mb-3">The Tours Retrospective: my greatest show series ever</p>
            <p class="mb-3">I'm thrilled to announce that I'm "hitting the road" for a series of live shows, streaming exclusively on my YouTube channel!</p>
            <p class="mb-3">I present to you: DEPECHE MODE - The Tours Retrospective (1984-1993). I'll play live all the DM tours, starting from the "Some Great Reward Tour" until my latest revision of the "Devotional Tour".</p>
            <p class="mb-3">Stay tuned to this website to know more and get ready for a real celebration! In fact, check the Calendar card 🥳</p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399598/rj8_landing/Donations_b4y6lr.jpg" alt="Image">

          <div class="p-4 h-72 bg-red-800/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">Donations</h2>
            <p class="mb-3">If you enjoy what I do, please consider supporting my content with a donation via PayPal. Any amount will be very much appreciated!</p>
            <p class="mb-3">You can send your donation with this <a href="https://www.paypal.me/kanirj8" target="_blank" class="hover:text-red-400 underline underline-offset-4">link</a></p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center  h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg  overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399599/rj8_landing/Calendar_eaogkp.jpg" alt="Image">

          <div class="p-4 h-72 bg-orange-600/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">Calendar</h2>
            <p class="mb-3">Depeche Mode - The Tours Retrospective (1983-1993)​</p>
            <p class="mb-3">Let's start this series with the amazing "Some Great Reward Tour". Live on my YouTube channel on Saturday, May 25th, 4PM (GMT -3).​</p>
            <!-- <p class="mb-3">Reminder available on my YouTube channel. <a class="underline underline-offset-4 hover:text-orange-300" href="https://www.youtube.com/live/ngfn7O9C-ng?si=5yr0-OCQ5tutpybo">Go set it now</a> and join the first retro party of the year! 💃​🕺</p> -->
          </div>
        </div>
    </div>
</div>