<div class="grid md:grid-cols-12 gap-2">
    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399600/rj8_landing/What_I_m_up_to_bz5o9r.jpg" alt="Image">

          <div class="p-4 h-72 bg-yellow-600/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">What I'm up to</h2>
             <p class="mb-3">Resumed the production of the new entry in the "A fans tribute" series for this year.</p>
            <p class="mb-3">Oh, and just like you guys requested some time ago, I'll stream a tutorial as well. We'll build Depeche Mode's Photographic from scratch, so stay tuned for time and date!</p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399598/rj8_landing/Donations_b4y6lr.jpg" alt="Image">

          <div class="p-4 h-72 bg-red-800/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">Donations</h2>
            <p class="mb-3">If you enjoy what I do, please consider supporting my content with a donation via PayPal. Any amount will be very much appreciated!</p>
            <p class="mb-3">You can send your donation with this <a href="https://www.paypal.me/kanirj8" target="_blank" class="hover:text-red-400 underline underline-offset-4">link</a></p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center  h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg  overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399599/rj8_landing/Calendar_eaogkp.jpg" alt="Image">

          <div class="p-4 h-72 bg-orange-600/75 overflow-y-auto">
            <h2 class="mb-3 text-xl font-bold">Calendar</h2>
            <p class="mb-3">New live show on Sunday, January 7th.​</p>
            <p class="mb-3">Reminder available on my YouTube channel. <a class="underline underline-offset-4 hover:text-orange-300" href="https://www.youtube.com/live/ngfn7O9C-ng?si=5yr0-OCQ5tutpybo">Go set it now</a> and join the first retro party of the year! 💃​🕺</p>
          </div>
        </div>
    </div>
</div>