<div class="grid md:grid-cols-12 gap-2">
    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399600/rj8_landing/What_I_m_up_to_bz5o9r.jpg" alt="Image">

          <div class="p-4 h-72 bg-yellow-600/75">
            <h2 class="mb-3 text-xl font-bold">What I'm up to</h2>
            <p class="mb-3">Currently working on the next entry of the "A fans tribute" series. Should I spoil the surprise? Want a hint? Let me know!</p>
            <p class="mb-3">I also have plans on making tutorials again. Maybe show how to play a song note by note.</p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399598/rj8_landing/Donations_b4y6lr.jpg" alt="Image">

          <div class="p-4 h-72 bg-red-800/75">
            <h2 class="mb-3 text-xl font-bold">Donations</h2>
            <p class="mb-3">If you enjoy what I do, please consider supporting my content with a donation via PayPal. Any amount will be very much appreciated!</p>
            <p class="mb-3">You can send your donation by clicking <a href="https://www.paypal.me/kanirj8" target="_blank" class="hover:text-red-400 underline underline-offset-4">here</a></p>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center  h-full col-span-4">
        <div class="max-w-md min-w-full rounded-lg  overflow-hidden shadow-lg">
          <img class="w-full h-40 object-cover object-center hover:scale-110 hover:transition ease-in-out" src="https://res.cloudinary.com/daokfcdfm/image/upload/v1699399599/rj8_landing/Calendar_eaogkp.jpg" alt="Image">

          <div class="p-4 h-72 bg-orange-600/75">
            <h2 class="mb-3 text-xl font-bold">Calendar</h2>
            <p class="mb-3">Nothing on the horizon so far...</p>
          </div>
        </div>
    </div>
</div>