---
import Social from "./Social.astro";
const {memberName, memberPhoto, memberRole, memberDescription} = Astro.props;
---
<div class="flex flex-col md:flex-row mb-6">
    
    <div class="flex flex-col items-center me-3">
        <img class="h-auto max-w-[12rem] rounded-full shadow-lg shadow-zinc-700 mb-3" src={memberPhoto} alt="">
        <slot name="youtube-channel" />
    </div>

    
    <div>
        <h2 class="text-lg font-bold mb-1">
            {memberName}
        </h2>
        
        <p class="mb-3 font-light md:w-2/4">{memberRole}</p>
        
        

        <Fragment set:html={memberDescription}>
    </div>
</div>