---
const {specialTitle, specialDescription, specialURL} = Astro.props;

---
<div class="flex flex-col lg:flex-row lg:w-2/3 mb-10">

    <iframe class="mx-auto rounded-md w-full aspect-video mb-4 lg:mb-0 lg:me-5" src={specialURL} frameborder="0"></iframe>

    <div>
        <h1 class="text-2xl font-bold mb-2">{specialTitle }</h1>
        <p class="">{specialDescription}</p>
    </div>

</div>